<h1>EverNexus</h1>
<%= link_to "Find me on GitHub", "https://github.com/jvelezpo", target: "_blank" %> <br /><br />

<%= link_to "Bueno", pages_login_path(user: "user", pass: "user") %><br />
<%= link_to "Malo",  pages_login_path(user: "hola", pass: "hola") %>