<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sebas.tian.evernexus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".AboutActivity"
            android:label="@string/about_name" />
        <activity 
            android:name=".NoteViewActivity"
            android:label="@string/note_view_name" />
        <activity 
            android:name=".NoteEditActivity"
            android:label="@string/note_edit_name" />
        
    </application>

</manifest>