/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html {
    overflow: auto;
}



body{
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    color: #333;
    padding: 0px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #333333;
}

h1{
    font-size: 20px;
}

h3{
    font-size: 18px;
}

h4{
    font-weight: normal;
}

h1, h3, h4{
    margin: 0px;
}

table{
    border-spacing: 0px;
}

#header{
    background: #FAFAFA;
    background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    border-bottom: 1px solid #CACACA;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
    top: 0;
    position: fixed;
    min-width: 99%;
    min-height: 90px;
}

a {
    color: #09C;
    text-decoration: none;
}

.nav{
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#header .logo {
    width: 23%;
    margin-left: 5%;
    float: left;
    height: 100%;
    font-family: 'Amaranth', sans-serif;
    padding-top: 12px;
}

#header .logo h2, #header .logo h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

nav {
    background: white;
    white-space: nowrap;
    padding: 5px 20px 15px 20px;
    position: fixed;
    margin-left: 70%;
    margin-top: 91px
}

nav ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

nav ul li a {
    padding: 0 0.5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

.bar{
    font-size: 14px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-image: -ms-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);
}

a {
    color: #09C;
    text-decoration: none;
}

a:visited {
    color: #09c;
}

a:hover {
    text-decoration: underline;
}

#bodybackground{
    background: white;
}

#content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 91px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
    min-height: 500px;
    padding: 30px;
    text-align: justify;
}




/* Footer */


#footer{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-top: 1px solid #CCC;
    color: #f0f8ff;
}

#footer .desarrollo{
    margin-left: 10%;
    float: left;
    margin-top: 25px;
}



#footer .aliados  {
    margin-right: 10%;
    float: right;
}

#footer img{
    width: 100px;
}

#footer .copyright {
    float: right;
    margin-right: 20%;
    margin-top: 5%;
}

.ajustar{
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}



/* Mensajes flash */

.error, .alert, .notice, .success, .info {text-align:center;padding:0.8em;margin:1.5em 1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}